*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --black:#001e2f;
    --white:#EEEDF0;
    --msg:#001e2fe0;
    --msg2:#054971;
    --back:rgb(0 30 47 / 90%);
}
.bottom, .container,.send,.input,#form{
    display: flex;
    justify-content: center;
}
.navbar{
    width: 20%;
    height: 100vh;
    float: left;
    overflow-y: scroll;
    background: var(--black);
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--black); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      width: 5px;
    background:rgb(0, 0, 0,.5); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0,.2); 
  }
/* scrollbar */


.container{
    width: 80%;
    position: relative;
    float: right;
    display: flex;
    flex-direction:column;
    background-color: rgb(0 30 47 / 98%);
}



.nav-user{
    width: 100%;
    height: 8vh;
    background-color: var(--black);
    position: sticky;
    top: 0;
    z-index: 3;
}
.wrapUser{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline: 5%;
}
.account::before{
    content: " ";
    width: 50px;
    height: 50px;
    background-color: var(--msg2);
    border-radius: 50%;
    margin-right: 5%;
}





.bottom,#form{
    width: 100%;
    height: 8vh;
    position: sticky;
    right: 0;
    bottom:0;
    justify-content: space-between;
    z-index: 2;
    background-color: var(--black);
    padding-inline: 2%;
}
#form{
    width: 100%;
    align-items: center;
}
.input{
    position: relative;
    width: 100%;
    border: 0;
    outline: 0;
    background:none;
    resize: none;
    overflow: hidden;
    color: var(--white);
    font-size: 1.4rem;
    padding: 10px;
}
.send{
    background: none;
    width: 3rem;
    height: 3rem;
    border:0;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg{
    width: 98%;
    margin-inline: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 84vh;
    z-index: 2;
    overflow-y: scroll;
}
.image{
width: 100%;
border-radius: 10px;
border: 1px solid var(--white);
}
.absolute{
    position: absolute !important;
    left: 1%;
}
.size{
    top: 6%;
}
.size:hover{
    display: none;
}
.fileWrap{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background: none;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.file{
    opacity: 0;
    width: 3rem;
    position:absolute;
    height: 3rem;
}
.fileWrap i{
    color: #43686b;
}
i{
    color: dodgerblue;
}








.user{
    max-width: 60%;
    width: fit-content;
    padding: .4rem;
    background-color: var(--msg2);
    color: var(--white);
    border-radius:10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.wrapleft,.wrapRight{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.wrapRight{
    justify-content: flex-end;
}

.msg-user{
    max-width: fit-content;
    color: violet;
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    font-weight: 700;
    
}
.msg-user:hover{
    text-overflow:unset;
}
.msg-text{
    font-size: 1.5rem;
    max-width: 100%;
    height: fit-content;
    text-overflow: clip;
    overflow-wrap: break-word;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0 !important;
}
.logo h1{
    font-family: 'Fredoka One', cursive;
    font-size: 2.5rem;
    color: var(--white);

}
.account{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    background-color:rgb(5 34 51);
    padding: 2%;
    border-radius: 10px;
    max-width: 100%;color: var(--white);
}
.img{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: teal;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.letter{
    position: absolute;
    font-size: 2rem;
    font-weight:normal;
}
.online,.offline{
    position: absolute;
    content:'';
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: rgb(0, 200, 0);
    bottom: 5%;
    right: 5%;
}
.offline{
    background-color: grey;
}
.info{
    width: 70%;
}
.name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10%;
}
.message{
    color: grey;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    margin-left: 10%;
}




.msgWindow{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10rem;
    height: 50vh;
    background-color:var(--black);
    z-index: 5;
    color: var(--white);
    font-size: 1.6rem;
}
@media screen and (max-width:991px){
    .account{
        width: fit-content;
    }
    .username{
        display: none;
    }
    .size{
        top: 12%;
        font-size: .8rem;
    }
}
@media screen and (max-width:576px) {
    .navbar{
        display: none;
    }
    .container,.navbar,.nav-user,#form,.bottom{
        width: 100%;
    }
    .input::placeholder{
        bottom: 30%;
    }
    .user{
        max-width: 80% !important;
        font-size: .9rem;
    }
    .msg-text{
        font-size: 1.1rem;
    }

}
